---
import Layout from "../layouts/Layout.astro";
import dotenv from "dotenv";
dotenv.config();
const res = await fetch(process.env.WP_REST_URL);
const posts = await res.json();
import { getAllPagesWithSlugs, getPageBySlug } from '../lib/api';
---

<Layout title="Astro Headless WP.">
    <main>
		{
			posts.map((post) => (
				<h2 set:html={post.title.rendered} />
				<p set:html={post.content.rendered} />
			))
		}
	</main>
</Layout>
